<br />
<img src="~/images/adminarea.jpg" alt="Àrea de Administração" class="marginTop1" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Esta é uma área de acesso somente do Administrador do sistema.</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar para a Home</a>
</div>
