<div class="container marginTop1">
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos saber o que você tem a dizer.</h3>
        <p>
            Tem alguma dúvida ou sugestão? Então fale conosco.
        </p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5><email endereco="evandrosiquer@hotmail.com" conteudo="Enviar e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5>(32) 99121-6398</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>Av. Cardoso Saraiva 1000, 36120-000 - Matias Barbosa/MG</h5>
        </p>
    </div>
</div>